.navbar-container {
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: black;
}
.navbar-logo {
    object-fit: cover;
    width: 6rem;
    height: 5rem;
}
.navbar-menu-item {
    margin: 1.5rem;
    cursor: pointer;
}
.navbar-menu-item:hover {
    color: #edbf07;
    border-bottom: 3px solid #edbf07;
}